
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is working</title>
</head>
<body>
<h1>Welcome to the text analyazer. Enter your text below</h1>
<form action='/analyze' method='get'>
    <textarea name='text' style='margin: 0px; width: 721px; height: 93px;'></textarea><br>
    <input type="checkbox" name='removepunc'> Remove Punctuation<br>
    <input type="checkbox" name='fullcaps'> Uppercase<br>
    <input type="checkbox" name='newlineremover'>New line remover<br>
    <input type="checkbox" name='extraspaceremover'> Extar space remover<br>
    <input type="checkbox" name='countchar'> Count character<br>

    <button type='submit'> Analyze Text</button>

</form>
</body>
</html>
